@model PizzamGelsin.Models.PizzaBoyutUpdateListModel

<div>
    <h4>PizzaBoyutUpdateListModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BoyutAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoyutAdi)
        </dd>

    </dl>
</div>
