@model PizzamGelsin.Models.SiparisUpdateListModel

<div>
    <h4>SiparisUpdateListModel</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SiparisUpdateListModelID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
