@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_MainLayout.cshtml";

}<div id="shopify-section-1507179171162" class="shopify-section index-section index-section-slideshow">
    <div data-section-id="1507179171162" data-section-type="slideshow-section">
        <section class="home-slideshow-layout">
            <div class="home-slideshow-wrapper">
                <div class="group-home-slideshow">
                    <div class="home-slideshow-inner">
                        <div class="home-slideshow-content">
                            <ul>
                                <li data-transition="random-static" data-masterspeed="2000" data-saveperformance="on">
                                    <img src="~/Images/3e4439de-fc4b-499e-b5c6-5dbc0151ee28.png"  alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                                    <div class="slideshow-caption position-left transition-fade">
                                        <div class="group">
                                            <a href="collections.html">
                                                <img src="assets/images/slideshow-caption-1.png" alt="" />
                                            </a>
                                            <a class="_btn" href="collections.html">Find out more!</a>
                                        </div>
                                    </div>
                                </li>
                              
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>